actdiag==3.0.0
alabaster==0.7.13
altgraph==0.17.3
asgiref==3.7.2
Babel==2.12.1
blockdiag==3.0.0
buildozer==1.5.0
certifi==2023.7.22
cfgv==3.4.0
charset-normalizer==3.2.0
cmake==3.27.2
colorama==0.4.6
coverage==7.3.0
Cython==3.0.2
distlib==0.3.7
dj-database-url==2.0.0
Django==4.2.3
docutils==0.19
exceptiongroup==1.1.3
filelock==3.12.3
flake8==6.1.0
funcparserlib==1.0.0a0
gunicorn==21.0.1
identify==2.5.27
idna==3.4
imagesize==1.4.1
iniconfig==2.0.0
Jinja2==3.1.2
MarkupSafe==2.1.3
mccabe==0.7.0
nodeenv==1.8.0
nwdiag==3.0.0
packaging==23.1
pefile==2023.2.7
pexpect==4.8.0
Pillow==9.5.0
platformdirs==3.10.0
pluggy==1.3.0
pre-commit==3.3.3
psycopg2-binary==2.9.6
ptyprocess==0.7.0
py-cpuinfo==9.0.0
pycodestyle==2.11.0
pyflakes==3.1.0
Pygments==2.16.1
pyinstaller==5.13.2
pyinstaller-hooks-contrib==2023.8
pypiwin32==223
pytest==7.4.0
pytest-asyncio==0.21.1
pytest-benchmark==4.0.0
pytest-cov==4.1.0
pytest-timeout==2.1.0
pywin32==306
pywin32-ctypes==0.2.2
PyYAML==6.0.1
requests==2.31.0
responses==0.23.3
seqdiag==3.0.0
sh==2.0.6
snowballstemmer==2.2.0
Sphinx==6.2.1
sphinxcontrib-actdiag==3.0.0
sphinxcontrib-applehelp==1.0.7
sphinxcontrib-blockdiag==3.0.0
sphinxcontrib-devhelp==1.0.5
sphinxcontrib-htmlhelp==2.0.4
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-nwdiag==2.0.0
sphinxcontrib-qthelp==1.0.6
sphinxcontrib-seqdiag==3.0.0
sphinxcontrib-serializinghtml==1.1.9
sqlparse==0.4.4
tomli==2.0.1
types-PyYAML==6.0.12.11
typing_extensions==4.7.1
tzdata==2023.3
urllib3==2.0.4
virtualenv==20.24.3
webcolors==1.13
whitenoise==6.5.0
