<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Driver</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link rel="icon" type="image/x-icon" href="{% static 'img/icon.png' %}">
        <link href="{% static 'styles.css' %}" rel="stylesheet">     
        <link href="../static/styles.css" rel="stylesheet">    
    </head>
<body>
    <div class="registered_container">
        <h1>Carpool</h1>
        <h2>Your Account has been successfully registered</h2>
        <div class="registered_buttons">
            <a class="button_var1" href="register">Back</a><a class="button_var2" href="login">Log in</a>
        </div>
    </div>
    <div class="footer">
        <div class="logo_containerf">
            <img src="{% static 'img/MPP.png' %}">
            <img src="{% static 'img/LogoKPM.png' %}">
            <img src="{% static 'img/DCS.png' %}">            
        </div>
        <h6>© COPYRIGHT <b>KPMB</b> 2023</h6>
        <br>
        <h6>DESIGN & DEVELOPMENT BY <b>BIRO AKTIVITI SUKAN DAN KEBAJIKAN DIPLOMA IN COMPUTER SCIENCE ASSOCIATE</b></h6>
        <h6>IN COLLABORATION WITH <b>ENTREPRENEURSHIP AND INNOVATION EXCO (STUDENT REPRESENTATIVE COUNCIL)</b></h6>
        <br>
        <h6>KPMB TIDAK AKAN BERTANGGUNGJAWAB KE ATAS KEROSAKAN ATAU KERUGIAN BERIKUTAN PENGGUNAAN PERKHIDMATAN DI LAMAN WEB INI</h6>
        <h6>SEMUA MAKLUMAT YANG DIPAPARKAN ADALAH BENAR DAN BETUL PADA MASA DAN TARIKH IA DIMUAT NAIK DAN BOLEH BERUBAH DARI SEMASA KE SEMASA</h6>
    </div>
</body>
</html>